
.heading{
  display: flex;
}
h1{
  font-family: 'Courgette', cursive;
  margin-left: 10px;
  font-size: 40px;
  
}
.container{
  display: flex;
  justify-content: space-between;
  background-color: #F0EBE3;
  padding: 20px;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
.right{
  margin-right: 50px;
}
.left{
  margin-left: 100px;
}
.dishPicture{
  width: 400px;
  height: 280px;
}

.dishMain{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
h3{
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}
.price{
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}